<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Обновить данные </title>
</head>
<body>

<form th:method="POST" th:action="@{/users/edit (id = ${user.getUserId()})}" th:object="${user}">
  <label for="firstName"> Введите имя пользователя </label>
  <input type="text" th:field="*{firstName}" id ="firstName"/>
  <br/>
  <label for="lastName"> Введите фамилию пользователя </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="email"> Введите email </label>
  <input type="text" th:field="*{email}" id="email" required/>
  <br/>
  <input type="submit" value="Обновить пользователя!">
</form>

</body>
</html>